**
!server/
!server/Dockerfile
!server/go.mod
!server/go.sum
!server/cmd/**
!server/db/**
!server/internal/**
!server/scripts/**
!server/web/**
!LICENSE
!NOTICE
!third_party/**
**/node_modules
**/dist
**/*.tsbuildinfo
**/*.log
**/.env*
**/.DS_Store
**/test-results
**/playwright-report
